<template name="home">
  <div class="page home">

    {{>nav title='Momento' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
            <!--Place Logo Here-->
          <!--<img src="img/app/logo-local.svg" alt="Local Market"/>-->
        </h1>
        <span class="hours"><span class="title-callout">Your Moments</span>
        </span>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <!--<span class="title-callout">News</span>-->
        <!--{{latestNews.text}}-->
          Share yours...live others
      </div>

      <h2 class="list-title">Latest Moments</h2>
      <div class="list-subtitle">See what the world is experiencing</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No recent moments!</div>
            <div class="subtitle-message">Share that you experienced a moment and it will show up here.</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">See yours</a>

      <h2 class="list-title">Recent Stories</h2>
      <div class="list-subtitle">Moments that just got shared</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">More</a>
    </div>

  </div>
</template>