<template name="feed">
  <div class="page whats-cooking">

    {{>nav title="My Moments"}}

    <div class="content-scrollable">
      <div class="list-activities {{#unless ready}}loading{{/unless}}">
        {{#if ready}}
          {{#each activities}}
            {{> activity}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No moments!</div>
              <div class="subtitle-message">Share your moments and they will show up here.</div>
            </div>
          {{/each}}
        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>